# Question 1

In [18]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b()
b()
b()
a

6

The value displayed is 6 . 

`a = 0` 
a is initialized as 'a' variable with value 0

`def b():
 global a`

Function b() is defined  
global a  is declared as a variable within  `b()`
Any changes made to `a` inside  function will affect the global variable `a` outside the function 

`c(a)`
This is a function call with a current value of `a`
so
 
`a =c(a)` 
 The result from `c(a)`is assigned back to variable `a`
function c within the current value of 'a' and will update 'a' with the result  

`return a + 2`
this takes argument `a` and returns `a+2`

First `b()`
Updates `a` by calling `c(a)` (`a` is 0 initially, so `c(0)`)
a = 0+2 = 2

Second `b()`
Updates `a` by calling `c(a)` (`a` is now 2, so `c(2)`)
a = 2+2 = 4 

Third `b()`
Updates 'a' by calling `c(a)` (`a` is now 4, so `c(4)`)
a = 4+2 =6

`a`
 This prints the final value of `a`, which is 6 after calling b() three times

# Question 2

In [19]:

def fileLength(file_name):
    try:       
        file = open(file_name)  
        contents = file.read()
        file.close()
        print(len(contents))
        
    except FileNotFoundError:        
        print(f"File {file_name} not found.")
        

fileLength('Filelength.txt')
fileLength('midterm.py')

123
File midterm.py not found.

# Question 3

In [20]:

# Initialize Marsupial class and create  an empty list 'pouch' 
class Marsupial:
    def __init__(self):   
        self.pouch = []

# Method takes item and put in the list pouch 
    def put_in_pouch(self, item):
        self.pouch.append(item)

# This returns the content of the pouch       
    def pouch_contents(self):
        return self.pouch

    
# Examples
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

print(m.pouch_contents())

# Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial 
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        """
        a. extends the Marsupial __init__ constructor to take, as input, the
        coordinates x and y of the Kangaroo object
        """
        Marsupial.__init__(self)
        self.x = x
        self.y = y
        
        """
        b. supports method jump that takes number values dx and dy as input and
        moves the kangaroo by dx units along the x-axis and by dy units along the yaxis
        """ 
    def jump(self, dx, dy):        
        self.x += dx
        self.y += dy
        
        """
        c. overloads the __str__ operator so it behaves as shown below.
        """  
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

# Example usage:
k = Kangaroo(0, 0)
print(k)  
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4

In [2]:

def collatz(x):
    print(x)
    if x == 1:             # base case  if x equals 1 stop the sequence 
        return
    
    elif  x % 2 == 0:      # if x is even 
        collatz(x // 2 )   # divide it by 2
    
    else:                   # x is odd
        collatz(3 * x + 1)  # implement 3x +1 
        
collatz(1)
collatz(10)

1
10
5
16
8
4
2
1

# Question 5

In [3]:

def binary(n):
    
    if n > 1:
        binary (n // 2)
    print (n % 2, end='')

binary(0)
print()
binary(1)
print()
binary(3)
print()
binary(9)
print()

0
1
11
1001

# Question 6

In [13]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self) # The HTMLParse is initilized and heading level is set to O 
        self.headings = 0
   
    # Checks if tag is h1 or h2 whenever the parser encounters a starting tag 
    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2']:
            self.headings = int(tag[1]) # Sets the current heading level based on the tag name

    # Whenever the parser encounters an ending tag,
    # Checks if the tag is h1 or h2 and resets the heading level to 0.
    def handle_endtag(self, tag):
        # If the tag is a heading tag (h1, h2, etc.)
        if tag in ['h1', 'h2']:
            self.headings = 0

    # Whenever the parser encounters character data
    def handle_data(self, data):
        if self.headings > 0:               # checks if the current heading level is greater than 0.
            indent = self.headings - 1      # Calculate the indentation level
            print(' ' * indent + data)      # Prints the data with the appropriate indentation


# Example 
infile = open('w3c.txt')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

# Question 7

In [17]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth < 0:
        return
    print(' ' * indent, url)
    try:
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        for link in soup.find_all('a'):
            href = link.get('href')
            if href and href.startswith('http'):
                webdir(href, depth - 1, indent + 2)
    except Exception as e:
        print(' ' * indent, 'Error:', e)


webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html', 2, 2)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html', 2, 4)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test3.html', 2, 2)
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html', 2, 4)

 http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
   http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
     http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
   http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
     http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

# Question 8

ClimateData
|City     | Country      | Season | Temperature     |Rainfall(mm)|
|:--------|:-------------|:-------|:----------------|:-----------|   
|Mumbai   |India         |Winter  |24.8             |5.9         |
|Mumbai   |India         |Spring  |28.4             |16.2        |
|Mumbai   |India         |Summer  |27.9             |1549.4      |
|Mumbai   |India         |Fall    |27.6             |46.0        |
|London   |United Kingdom|Winter  |4.2              |207.7       |
|London   |United Kingdom|Spring  |8.3              |169.6       |
|London   |United Kingdom|Summer  |15.7             |157.0       |
|London   |United Kingdom|Fall    |10.4             |218.5       |
|Cairo    |Egypt         |Winter  |13.6             |16.5        |
|Cairo    |Egypt         |Spring  |20.7             |6.5         |
|Cairo    |Egypt         |Summer  |27.7             |0.1         |
|Cairo    |Egypt         |Fall    |22.2             |4.5         |

#### a) All the temperature data.

In [ ]:
%%sql
SELECT Temperature
FROM ClimateData;

#### b) All the cities, but without repetition.

In [ ]:
%%sql
SELECT Distinct City FROM ClimateData;

#### c) All the records for India.

In [ ]:
%%sql
SELECT * ClimateData WHERE country = 'India';

#### d) All the Fall records

In [ ]:
%%sql
SELECT * FROM  ClimateData WHERE season = 'Fall';

#### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [ ]:
%%sql
SELECT city, country, season 
FROM ClimateData
WHERE rainfal BETWEEN 200 AND 400;

#### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [ ]:
%%sql
SELECT city, country
FROM ClimateData
WHERE Season = 'Fall'
GROUP BY city, country
HAVING AVG(temperature) > 20
ORDER BY AVG(temperature);

#### g) The total annual rainfall for Cairo.

In [ ]:
%%sql
SELECT SUM(rainfall) AS total_rainfall
FROM ClimateData
Where city = 'Cairo';

#### h) The total rainfall for each season

In [ ]:
%%sql
SELECT season, SUM(rainfall) AS total_rainfall
FROM ClimateData
GROUP BY season;

# Question 9

In [21]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

lowercase_words = [word.lower() for word in words]
print(lowercase_words)

length_words = [len(word) for word in words]
print(length_words)

all_words =[[word.upper(), word.lower(), len(word)] for word in words]
print(all_words)

filter_words = [word for word in words if len(word) >= 4]
print(filter_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']